.watch {
  display: inline-block;
  font-size: 10vw;
  font-family: monospace;
  margin-top: 15vw;
  margin-bottom: 0;
}

#stopwatch {
  left: auto;
  text-align: center;
}

#triggers {
  text-align: center;
}

.buttons {
  font-size: 2vw;
  font-family: monospace;
  border-radius: 1vw;
  border: 0.2vw solid Black;
  margin: 0.2vw 0;
}
